
#user  nobody;
worker_processes  1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    passenger_root {{ passenger_root.stdout }};
    passenger_ruby {{ ruby_executable.stdout }};

    map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
    }

    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';

    #access_log  logs/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;

    server {
        client_max_body_size 1500M;
        client_body_buffer_size 1024k;
        listen       80;
        server_name  localhost;
        passenger_enabled on;

        passenger_env_var SECRET_KEY_BASE {{ rails_secret_key }};
        passenger_env_var UPLOAD_FOLDER {{ upload_folder }};
        passenger_env_var DB_HOST {{ db_host }};
        passenger_env_var DB_NAME {{ db_name }};
        passenger_env_var DB_USERNAME {{ db_username }};
        passenger_env_var DB_PASSWORD {{ db_password }};
        passenger_env_var WEBUILDSG_EVENT_URL https://webuild-events.herokuapp.com/events;

        #charset koi8-r;

        #access_log  logs/host.access.log  main;

        root {{ document_root }};
        index  index.php index.html index.htm;

        location / {
            #try_files $uri $uri/ /404.html;
            sendfile off;
        }

        location /upload_presentation {
            upload_pass  /presentations;

            upload_store {{ upload_folder }} 1;
            upload_store_access user:rw group:rw all:r;

            set $upload_field_name "file";
            upload_set_form_field $upload_field_name[original_filename] "$upload_file_name";
            upload_set_form_field $upload_field_name[tempfile] "$upload_tmp_path";
            upload_set_form_field $upload_field_name[content_type] "$upload_content_type";
            upload_aggregate_form_field $upload_field_name[size] "$upload_file_size";

            upload_pass_form_field "^token$|^authenticity_token$|^title$|^description$|^presented_at$|^submit$|^presentation_id$|^event_id$|^playlist_id$";
            upload_cleanup 400 404 499 500-505;
        }

        error_page  404              /404.html;
        location = /404.html {
            root   html;
        }

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }

        # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
        #
        location ~ \.php$ {
            include fastcgi_params;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass   127.0.0.1:9000;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }

        # deny access to .htaccess files, if Apache's document root
        # concurs with nginx's one
        #
        location ~ /\.ht {
            deny  all;
        }
    }
}
