
#user  nobody;
worker_processes  1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';

    #access_log  logs/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;

    server {
        listen       80;
        server_name  localhost;

        #charset koi8-r;

        #access_log  logs/host.access.log  main;

        root /var/html;
        index  index.php index.html index.htm;

        location / {
            sendfile off;
        }

        error_page  404              /404.html;
        location = /404.html {
            root   html;
        }

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }

        # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
        #
        location ~ \.php$ {
            include fastcgi_params;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass   127.0.0.1:9000;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }

        # deny access to .htaccess files, if Apache's document root
        # concurs with nginx's one
        #
        location ~ /\.ht {
           deny  all;
        }
    }
}

rtmp {
  server {
    listen 1935;
    # chunk_size 4096;

    application live {
        live on;

        on_publish http://localhost/recording_start.php;

        recorder main {
            record all;
            record_path /video_recordings;
            record_suffix _recorded.mp4;
            record_unique on;

            record_notify on;
            on_record_done http://localhost/recorded.php;
        }

        # push rtmp://a.rtmp.youtube.com/live2 app=live2 playpath={{ youtube_stream_key }};
        # exec ffmpeg -re -i "rtmp://localhost/live/$name" -acodec libmp3lame -ar 44100 -b:a 128k -pix_fmt yuv420p -profile:v baseline -s 426x240 -bufsize 6000k -vb 400k -maxrate 1500k -deinterlace -vcodec libx264 -preset veryfast -g 30 -r 30 -f flv "rtmp://rtmp-api.facebook.com:80/rtmp/{{ facebook_live_stream_key }}";
        # exec ffmpeg -i "rtmp://localhost/live/$name" -f image2 -vf fps=1/5 "/screenshots/$name-snapshot%05d.jpg";
        exec ffmpeg -i "rtmp://localhost/live/$name" -f image2 -vf fps=1/5 -strftime 1 "/var/html/screenshots/$name-snapshot-%Y%m%d-%s.jpg";
    }
  }
}
